<p-card>
	<ng-template pTemplate="header">
		<img [src]="activity.imgUrl ? activity.imgUrl : 'assets/images/signin.jpg'" />

		<div class="btn-action-box">
			<p-button icon="pi pi-pencil" severity="success" [rounded]="true" />
			<p-button icon="pi pi-trash" severity="danger" [rounded]="true" (click)="onDeleteClick()" />
		</div>
	</ng-template>

	<ng-template pTemplate="title">
		<div class="infos-wrapper">
			<div class="info-item">
				<i class="pi pi-map-marker"></i>
				<span *ngIf="activity.location"
					>{{ activity.location.city.name }}, {{ activity.location.department.name }} ({{
						activity.location.city.zipCode
					}})</span
				>
			</div>
			<div class="info-item">
				<i class="pi pi-users"></i>
				<span>{{ activity.nbGuest }}</span>
			</div>
		</div>

		<h3 class="activity-title">{{ activity.name }}</h3>
		<p class="activity-description">{{ activity.description }}</p>
	</ng-template>

	<ng-template pTemplate="subtitle">
		<div class="caterories-wrapper">
			<ng-container *ngFor="let category of activity.categories.results">
				<p-tag severity="info" [value]="category.title" />
			</ng-container>
		</div>
	</ng-template>
</p-card>
