.page-title {
	font-size: 2rem;
	color: var(--gray-800);
	margin-bottom: 0.6rem;
	font-weight: initial;
}

.page-subtitle {
	font-size: 1rem;
	color: var(--gray-800);
	margin-bottom: 3rem;
	font-weight: initial;
	line-height: 1.2;
}
