<app-auth-profile-layout imgSrc="assets/images/signup.jpg" imgAlt="contact" pageTitle="Contact" pageIcon="envelope">
	<ng-container subtitle>
		<span>To facilitate our communication and offer you personalized services, </span>
		<span>please fill in the fields regarding your phone number and social media accounts.</span>
	</ng-container>

	<ng-container primary>
		<app-alert-error
			*ngIf="formError"
			[content]="formError"
			severity="error"
			icon="exclamation-circle"
		></app-alert-error>

		<form #authProfileContactForm="ngForm" [formGroup]="mainForm" (ngSubmit)="onSubmit()">
			<div class="form-control">
				<app-mask-field
					labelFor="phone"
					label="Phone :"
					type="phone"
					id="phone"
					name="phone"
					icon="phone"
					[form]="authProfileContactForm"
					formControlName="phone"
					[parentForm]="mainForm"
					controlName="phone"
					[validationMessage]="getValidationMessages('phone')"
				></app-mask-field>
			</div>

			<ng-container formGroupName="socialForm">
				<div class="form-control">
					<app-text-field
						labelFor="twitter"
						label="Pseudo Twitter :"
						type="text"
						id="twitter"
						name="twitter"
						icon="twitter"
						placeholder="john-doe33"
						[form]="authProfileContactForm"
						formControlName="twitter"
						[parentForm]="socialForm"
						controlName="twitter"
						[validationMessage]="getValidationMessages('twitter')"
					></app-text-field>
				</div>

				<div class="form-control">
					<app-text-field
						labelFor="instagram"
						label="Pseudo Instagram :"
						type="text"
						id="instagram"
						name="instagram"
						icon="instagram"
						placeholder="john-doe33"
						[form]="authProfileContactForm"
						formControlName="instagram"
						[parentForm]="socialForm"
						controlName="instagram"
						[validationMessage]="getValidationMessages('instagram')"
					></app-text-field>
				</div>

				<div class="form-control">
					<app-text-field
						labelFor="facebook"
						label="Pseudo Facebook :"
						type="text"
						id="facebook"
						name="facebook"
						icon="facebook"
						placeholder="john-doe33"
						[form]="authProfileContactForm"
						formControlName="facebook"
						[parentForm]="socialForm"
						controlName="facebook"
						[validationMessage]="getValidationMessages('facebook')"
					></app-text-field>
				</div>
			</ng-container>

			<app-form-button-box [showPreviousBtn]="true" (previousClick)="backToPreviousStep()"></app-form-button-box>
		</form>
	</ng-container>
</app-auth-profile-layout>
