<p>signin-page works!</p>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
	<div class="form-control">
		<label for="email">Email : </label>
		<input type="text" pInputText id="email" name="email" formControlName="email" placeholder="xxx@gmail.com" />
	</div>

	<div class="form-control">
		<label for="password">Password : </label>
		<p-password
			inputId="password"
			formControlName="password"
			[feedback]="false"
			[toggleMask]="true"
			placeholder="*****"
		/>
	</div>

	<div class="forgot-password-box">
		<a href="#" class="redirect-link">Forgot your password ?.</a>
	</div>

	<p-button type="submit" label="Submit" icon="pi pi-arrow-up-right" iconPos="right" styleClass="btn-cta" />
</form>
