<header>
	<div class="header-top">
		<div class="header-container">
			<span>Get premium plan.</span>
			<div class="top-left">
				<p-button label="Help ?" [text]="true" [plain]="true" />
			</div>
		</div>
	</div>

	<div class="header-middle">
		<div class="header-container">
			<div class="logo-container">
				<img src="assets/images/logo.png" alt="Logo" />
			</div>

			<div class="search-container">
				<p-iconField iconPosition="right">
					<p-inputIcon styleClass="pi pi-search" />
					<input type="text" pInputText placeholder="Search" />
				</p-iconField>
			</div>

			<nav class="nav-container">
				<p-menu #menuAuth [model]="items" [popup]="true" styleClass="menu-account" />

				<app-button-header-icon
					icon="user"
					label="Login"
					subtitle="Account"
					(mouseenter)="menuAuth.toggle($event)"
				></app-button-header-icon>

				<app-button-header-icon icon="star" label="Favorites" subtitle="10 items"></app-button-header-icon>

				<app-button-header-icon
					icon="thumbtack"
					label="Booking"
					subtitle="4 items"
					(click)="showBookingsDialog()"
				></app-button-header-icon>
			</nav>
		</div>
	</div>
</header>

<button (click)="toggleDarkMode()">toggle dark mode</button>

<p-dialog
	header="Edit Profile"
	[modal]="true"
	[(visible)]="visible"
	[position]="position"
	[dismissableMask]="true"
	[style]="{ width: '25rem' }"
>
	<h1>TODO</h1>
</p-dialog>
