:host::ng-deep header {
	app-container {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

:host ::ng-deep .header-top {
	display: flex;
	justify-content: center;
	background-color: var(--surface-800);

	app-container {
		height: 40px;

		span {
			font-size: 0.85rem;
			color: var(--gray-0);
		}

		.p-button.p-button-text.p-button-plain:not(:disabled) {
			background: transparent;
			border: none;

			&:hover {
				background: transparent;
				border: none;
			}
		}

		.p-button-label {
			color: var(--gray-0);
			font-size: 1rem;

			&:hover {
				color: var(--gray-100);
			}
		}
	}
}

:host ::ng-deep .header-middle {
	display: flex;
	justify-content: center;
	background-color: var(--surface-100);
	border: 1px solid var(--gray-0);
	padding: 1rem 0;

	.menu-account {
		margin-top: calc(var(--p-anchor-gutter) + 0.4rem) !important;
		background-color: var(--surface-0);
		border: 1px solid var(--gray-0);
		border-radius: 10px;
		width: 150px;
		padding: 0.9rem 1.1rem;
		z-index: 100;

		ul {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.p-submenu-header {
				display: none;
			}

			.p-menuitem {
				&:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
					background-color: transparent;

					a span {
						opacity: 0.8;
					}
				}

				a span {
					gap: 0.5rem;
					color: var(--gray-800);
				}
			}
		}
	}

	.search-container {
		width: 33.33333333%;
	}

	.nav-container {
		display: flex;
		justify-content: flex-end;
		gap: 0.3rem;
		margin-right: 1rem;

		@media screen and (min-width: 768px) {
			gap: 1.5rem;
		}
	}
}

:host ::ng-deep .booking-dialog {
	.p-dialog-header {
		color: var(--gray-800);
		justify-content: center;
	}
}
