<header>
	<div class="header-top">
		<app-container>
			<span>Get premium plan.</span>
			<div class="top-left">
				<p-button label="Help ?" [text]="true" [plain]="true" />
			</div>
		</app-container>
	</div>

	<div class="header-middle">
		<app-container>
			<div class="logo-container">
				<app-logo></app-logo>
			</div>

			<div class="search-container">
				<app-input-search icon="search"></app-input-search>
			</div>

			<nav class="nav-container">
				<p-menu #menuAuth [model]="items" [popup]="true" styleClass="menu-account" />

				<app-button-header-icon
					icon="user"
					label="Login"
					subtitle="Account"
					(mouseenter)="menuAuth.toggle($event)"
				></app-button-header-icon>

				<app-button-header-icon icon="star" label="Favorites" subtitle="10 items"></app-button-header-icon>

				<app-button-header-icon
					icon="thumbtack"
					label="Booking"
					subtitle="4 items"
					(click)="showBookingsDialog()"
				></app-button-header-icon>
			</nav>
		</app-container>
	</div>
</header>

<!-- <button (click)="toggleDarkMode()">toggle dark mode</button> -->

<p-dialog
	header="Todo booking"
	[modal]="true"
	[(visible)]="visible"
	[position]="position"
	[dismissableMask]="true"
	[style]="{ width: '25rem' }"
	styleClass="booking-dialog"
>
</p-dialog>
