<app-auth-container
	><app-auth-layout imgSrc="assets/images/signin.jpg" imgAlt="signin" pageTitle="Check your email" pageIcon="inbox">
		<ng-container pageSubtitle>
			<span
				>Your registration is almost complete! A verification email has been sent to your email. Please follow the
				instructions in that email to activate your account.</span
			>
		</ng-container>

		<ng-container primary>
			<div class="content-box">
				<p-button
					type="submit"
					label="Resend the email"
					icon="pi pi-arrow-up-right"
					iconPos="right"
					styleClass="btn-cta"
					(click)="onClick()"
				/>
			</div>

			<p class="redirect-text">
				<a [routerLink]="redirectLink" class="redirect-link">
					<i class="pi pi-arrow-left"></i>
					<span> Back to signin.</span>
				</a>
			</p>
		</ng-container>
	</app-auth-layout>
</app-auth-container>
