<p-table [value]="activities" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
	<ng-template pTemplate="header">
		<tr>
			<th pSortableColumn="id">
				<div class="th-box">Id <p-sortIcon field="code" /></div>
			</th>
			<th>Image</th>
			<th>Title</th>
			<th>Description</th>
			<th>Categories</th>
			<th pSortableColumn="nbGuest">
				<div class="th-box">Nb guest <p-sortIcon field="code" /></div>
			</th>

			<th></th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-activity>
		<tr>
			<td>{{ activity.id }}</td>
			<td class="td-image">
				<img alt="Card" [src]="activity.imgUrl && 'assets/images/signin.jpg'" />
			</td>
			<td>{{ activity.name }}</td>
			<td>{{ activity.description }}</td>
			<td>
				<div class="flex">
					<ng-container *ngFor="let category of activity.categories.results">
						<p-tag severity="info" [value]="category.title" />
					</ng-container>
				</div>
			</td>
			<td>{{ activity.nbGuest }}</td>
			<td>
				<div class="btn-action-box">
					<p-button icon="pi pi-eye" severity="info" [rounded]="true" />
					<p-button icon="pi pi-pencil" severity="success" [rounded]="true" />
					<p-button icon="pi pi-trash" severity="danger" [rounded]="true" />
				</div>
			</td>
		</tr>
	</ng-template>
</p-table>
