:host ::ng-deep p-table {
	width: 100%;

	.p-datatable-wrapper {
		border-radius: 0.75rem;
	}

	.p-datatable.p-datatable-striped {
		width: 100%;

		.p-datatable-thead {
			> tr {
				> th {
					background-color: transparent;
					font-size: 1rem;
					color: var(--gray-800);
					border-color: var(--primary-100);

					.th-box {
						display: flex;
					}

					p-sorticon {
						.p-sortable-column-icon {
							color: var(--gray-800);
						}
					}
				}
			}
		}

		.p-datatable-tbody {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			border-radius: 0.75rem;
		}
	}
}
