<p-table [value]="activities" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
	<ng-template pTemplate="header">
		<tr *ngIf="showHeader">
			<th pSortableColumn="id">
				<div class="th-box">Id <p-sortIcon field="code" /></div>
			</th>
			<th>Image</th>
			<th>Title</th>
			<th>Description</th>
			<th>Categories</th>
			<th pSortableColumn="nbGuest">
				<div class="th-box">Nb guest <p-sortIcon field="code" /></div>
			</th>

			<th></th>
		</tr>
	</ng-template>

	<ng-template pTemplate="body" let-activity>
		<app-activity-preview-table-card [activity]="activity"></app-activity-preview-table-card>
	</ng-template>
</p-table>
