<label [for]="labelFor">{{ label }}</label>

@if (icon) {
	<p-iconField iconPosition="left">
		<p-inputIcon [styleClass]="iconClass" />
		<p-inputNumber
			[mode]="mode"
			[useGrouping]="useGrouping"
			[min]="1"
			[max]="100000"
			[inputId]="id"
			[name]="name"
			[placeholder]="placeholder"
			[disabled]="disabled"
			(onInput)="onInputChange($event)"
			(onFocus)="markAsTouched()"
			[ngClass]="{
				'has-icon': icon,
				'is-invalid ng-dirty': control?.invalid && form.submitted,
			}"
	/></p-iconField>
} @else {
	<p-inputNumber
		[mode]="mode"
		[useGrouping]="useGrouping"
		[min]="1"
		[max]="100000"
		[inputId]="id"
		[name]="name"
		[placeholder]="placeholder"
		[disabled]="disabled"
		(onInput)="onInputChange($event)"
		(onFocus)="markAsTouched()"
		[ngClass]="{
			'is-invalid ng-dirty': control?.invalid && form.submitted,
		}"
	/>
}

<app-error-field
	[form]="form"
	[control]="control"
	[controlName]="controlName"
	[validationMessage]="validationMessage"
></app-error-field>
