<app-account-layout>
	<div class="box">
		<h1>Settings</h1>

		<p-menubar [model]="items" styleClass="settings-nav">
			<ng-template let-item pTemplate="item">
				<a
					class="p-menuitem-block"
					[routerLink]="item.routerLink"
					[class.p-menuitem-active]="item === activeItem"
					(click)="selectItem(item)"
				>
					<span class="p-menuitem-text">
						{{ item.label }}
					</span>
				</a>
			</ng-template>
		</p-menubar>

		<div>
			<router-outlet></router-outlet>
		</div>
	</div>
</app-account-layout>
