h1 {
	color: var(--gray-800);
}

:host ::ng-deep .settings-nav {
	background-color: transparent;
	margin-top: 1.5rem;
	width: fit-content;
	border: 1.75px solid var(--gray-100);
	border-radius: 10px;
	padding: 0;
	overflow: hidden;

	@media screen and (max-width: 960px) {
		border: none;
	}

	.p-menubar-button {
		background: var(--gray-50);
		border: none;
		color: var(--gray-500);

		&:focus {
			outline: none;
		}

		&:hover {
			color: var(--gray-800);
		}

		.p-icon {
			width: 1.25rem;
			height: 1.25rem;
		}
	}

	&.p-menubar-mobile-active {
		border-radius: 0;
		width: 100%;
		border: none;
		overflow: visible;

		.p-menubar-root-list {
			background: var(--gray-50);
			padding: 0;
			top: 125%;
		}
	}

	.p-menuitem {
		&:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
			background-color: var(--primary-50);
			cursor: pointer;

			.p-menuitem-text {
				color: var(--primary-800);
			}

			.p-menuitem-active {
				background-color: var(--primary-500);

				.p-menuitem-text {
					color: var(--gray-50);
				}
			}
		}

		.p-menuitem-content {
			border-radius: 0;
			border-right: 1.75px solid var(--gray-100);

			.p-menuitem-block {
				display: flex;
				padding: 0.8rem 0.65rem;
				text-decoration: none;

				&.p-menuitem-active {
					background-color: var(--primary-500);

					.p-menuitem-text {
						color: var(--gray-50);
					}
				}
			}

			.p-menuitem-text {
				color: var(--gray-800);
			}
		}
	}
}

:host ::ng-deep .divider {
	margin-top: 3rem;
	margin-bottom: 3rem;

	&:before {
		border-color: var(--gray-100);
	}
}
