<app-breadcrumb title="Activities List" [items]="items"></app-breadcrumb>

<div class="content-wrapper">
	<app-container>
		<div class="top-content">
			<h1 class="top-page-title">Activities List</h1>
			<p class="top-subtitle">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas asperiores amet vitae et consequuntur porro a
				deserunt, veniam obcaecati rerum iure labore ipsum ratione voluptatum quo doloremque quaerat nisi optio cumque
				at adipisci quasi. Voluptate facere aspernatur dolorum nihil deserunt corporis tempora quae non ducimus delectus
				porro a neque amet eligendi magni alias necessitatibus, dolore obcaecati aut.
			</p>
		</div>

		<app-category-carousel></app-category-carousel>
	</app-container>
</div>
