<app-auth-profile-layout imgSrc="assets/images/signup.jpg" imgAlt="Address" pageTitle="Address" pageIcon="map-marker">
	<ng-container subtitle>
		<span
			>To complete your registration, please provide your full address to ensure the proper handling of your
			information.</span
		>
	</ng-container>

	<ng-container primary>
		<app-alert-error
			*ngIf="formError"
			[content]="formError"
			severity="error"
			icon="exclamation-circle"
		></app-alert-error>

		<form #authProfileAddressForm="ngForm" [formGroup]="mainForm" (ngSubmit)="onSubmit()">
			<ng-container formGroupName="streetForm">
				<div class="form-control">
					<app-number-field
						labelFor="streetNumber"
						label="Street number :"
						[useGrouping]="false"
						mode="decimal"
						id="streetNumber"
						name="streetNumber"
						placeholder="10"
						[min]="1"
						[max]="9999999"
						[form]="authProfileAddressForm"
						formControlName="streetNumber"
						[parentForm]="streetForm"
						controlName="streetNumber"
						[validationMessage]="getValidationMessages('streetNumber')"
					></app-number-field>
				</div>

				<div class="form-control">
					<app-text-field
						labelFor="street"
						label="Street :"
						type="text"
						id="street"
						name="street"
						placeholder="Rue de la république"
						[form]="authProfileAddressForm"
						formControlName="street"
						[parentForm]="streetForm"
						controlName="street"
						[validationMessage]="getValidationMessages('street')"
					></app-text-field>
				</div>
			</ng-container>

			<div class="form-control">
				<app-select-field
					labelFor="region"
					label="Region :"
					id="region"
					name="region"
					placeholder="select region"
					[items]="(regionItems$ | async) || []"
					[form]="authProfileAddressForm"
					formControlName="region"
					[parentForm]="mainForm"
					controlName="region"
					[validationMessage]="getValidationMessages('region')"
					(selectedValueChange)="onRegionSelected($event)"
				></app-select-field>
			</div>

			@if (selectedRegion$) {
				<div class="form-control">
					<app-select-field
						labelFor="department"
						label="Department :"
						type="text"
						id="department"
						name="department"
						placeholder="Select department"
						[items]="(departmentItems$ | async) || []"
						[form]="authProfileAddressForm"
						formControlName="department"
						[parentForm]="mainForm"
						controlName="department"
						[validationMessage]="getValidationMessages('department')"
						(selectedValueChange)="onDepartmentSelected($event)"
					></app-select-field>
				</div>
			}

			@if (selectedDepartment$) {
				<div class="form-control">
					<app-autocomplete-field
						labelFor="city"
						label="City :"
						type="text"
						id="city"
						name="city"
						[showClear]="true"
						placeholder="Select city"
						[items]="(cityItems$ | async) || []"
						[form]="authProfileAddressForm"
						formControlName="city"
						[parentForm]="mainForm"
						controlName="city"
						[validationMessage]="getValidationMessages('city')"
					></app-autocomplete-field>
				</div>
			}

			<app-form-button-box [showPreviousBtn]="true" (previousClick)="backToPreviousStep()"></app-form-button-box>
		</form>
	</ng-container>
</app-auth-profile-layout>
