<footer>
	<div class="footer-top">
		<div class="header-container">
			<div class="left">
				<div class="logo-container">
					<app-logo></app-logo>
				</div>

				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi temporibus perspiciatis deserunt consequuntur
					explicabo voluptatem iste impedit quaerat, accusantium, facilis velit laboriosam tempore ullam repellat?
				</p>
			</div>

			<div class="right">
				<p>TODO : links</p>
			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="header-container">
			<p>Copyright © 2024 BlueBerry all rights reserved.</p>
		</div>
	</div>
</footer>
