:host ::ng-deep .toast {
	.p-toast-message-success {
		background-color: var(--green-200);
		border: 1.5px solid var(--green-100);

		.p-toast-message-content {
			display: flex;
			align-items: center;
			padding: 1.25rem 0.75rem;
		}

		.p-toast-detail {
			color: var(--green-900);
			margin-top: 0;
		}

		.p-toast-message-icon {
			color: var(--green-900);
		}

		.p-toast-icon-close {
			color: var(--green-900);
			padding: 0.75rem;

			&:hover {
				background-color: var(--green-700);
				color: var(--green-100);
			}
		}
	}
}
