<div class="container-blocks">
	<app-account-settings-layout pageTitle="Profile" [showEditCta]="true" (changeView)="onChangeViewProfile()">
		<ng-container pageSubtitle>
			<span>Update your profile information to keep your details accurate and up-to-date.</span>
		</ng-container>

		<ng-container primary>
			<app-settings-profile-form [isViewDatas]="isViewDatasProfile"></app-settings-profile-form>
		</ng-container>
	</app-account-settings-layout>

	<app-account-settings-layout pageTitle="Address" [showEditCta]="true" (changeView)="onChangeViewAddress()">
		<ng-container pageSubtitle>
			<span>Update your profile information to keep your details accurate and up-to-date.</span>
		</ng-container>

		<ng-container primary>
			<app-settings-address-form [isViewDatas]="isViewDatasAddress"></app-settings-address-form>
		</ng-container>
	</app-account-settings-layout>
</div>

<app-toast />
