<app-activity-layout
	subtitle="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas asperiores amet vitae et consequuntur porro a
				deserunt, veniam obcaecati rerum iure labore ipsum ratione voluptatum quo doloremque quaerat nisi optio cumque
				at adipisci quasi. Voluptate facere aspernatur dolorum nihil deserunt corporis tempora quae non ducimus delectus
				porro a neque amet eligendi magni alias necessitatibus, dolore obcaecati aut."
	[activityList$]="activityList$"
></app-activity-layout>
