<label [for]="labelFor">{{ label }}</label>

<p-iconField iconPosition="left">
	<p-inputIcon [styleClass]="iconClass" />
	<p-password
		[inputId]="id"
		[placeholder]="placeholder"
		[disabled]="disabled"
		[feedback]="feedback"
		[toggleMask]="toggleMask"
		(input)="onInputChange($event)"
		(focus)="markAsTouched()"
		[ngClass]="{
			'is-invalid ng-dirty': control?.invalid && form.submitted,
		}"
/></p-iconField>

<app-error-field
	[form]="form"
	[control]="control"
	[controlName]="controlName"
	[validationMessage]="validationMessage"
></app-error-field>
