@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';

@layer reset, primeng;

@layer primeng {
	*,
	*:before,
	*:after {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	.p-icon-field.p-icon-field-right,
	.p-icon-field.p-icon-field-left {
		width: 100%;
	}

	.p-inputtext {
		color: var(--gray-800);
		background: var(--white-color);
		border: 1px solid var(--gray-0);
		width: 100%;
	}

	.p-input-icon-right > .p-icon-wrapper,
	.p-input-icon-right > i {
		color: var(--gray-800);
	}

	.p-icon-field-left .p-input-icon:first-of-type {
		color: var(--gray-800);
	}

	// dropdown
	p-overlay .p-dropdown-panel {
		background: var(--white-color);
		color: var(--gray-800);
		border: 1px solid #d9d9d9;
		border-radius: 8px;

		.p-dropdown-items {
			padding: 0;

			.p-dropdown-item {
				margin: 0;
				padding: 0.5rem 0.75rem;

				> span {
					color: var(--gray-200);
				}

				&.p-focus {
					> span {
						color: var(--gray-800);
					}
				}

				&:not(.p-highlight):not(.p-disabled),
				&:not(.p-disabled) {
					&.p-focus {
						background: var(--primary-50);
					}

					&:hover {
						background: var(--primary-50);
					}
				}

				&:not(.p-highlight):not(.p-disabled):hover {
					> span {
						color: var(--gray-500);
					}
				}
			}
		}
	}

	p-dropdown .p-dropdown {
		.p-dropdown-label {
			background-color: transparent;
			padding: 0.85rem 1rem 0.85rem 2.5rem;
			border-radius: 8px;
			color: var(--gray-800);
			border: none;

			&.p-placeholder {
				color: var(--gray-200);
			}
		}
		.p-dropdown-trigger {
			color: var(--gray-800);
			font-size: 1rem;
		}
	}

	// autocomplete
	p-autocomplete .p-autocomplete-panel {
		background: var(--white-color);
		color: var(--gray-800);
		border: 1px solid #d9d9d9;
		border-radius: 8px;

		.p-autocomplete-items {
			padding: 0;

			.p-autocomplete-item {
				margin: 0;
				padding: 0.5rem 0.75rem;

				> span {
					color: var(--gray-200);
				}

				&.p-highlight {
					> span {
						color: var(--gray-800);
					}
				}

				&.p-focus {
					> span {
						color: var(--gray-800);
					}
				}

				&:not(.p-highlight):not(.p-disabled),
				&:not(.p-disabled) {
					&.p-focus {
						background: var(--primary-50);
					}

					&:hover {
						background: var(--primary-50);
					}
				}

				&:not(.p-highlight):not(.p-disabled):hover {
					> span {
						color: var(--gray-500);
					}
				}
			}
		}
	}

	p-autocomplete .p-autocomplete .p-autocomplete-input {
		background-color: transparent;
		padding: 0.85rem 1rem 0.85rem 2.5rem;
		color: var(--gray-800);
		border: none;
		border-radius: 8px 0 0 8px;

		&.p-placeholder {
			color: var(--gray-200);
		}
	}
}
