<app-account-settings-layout pageTitle="Description" [showEditCta]="true" (changeView)="onChangeView()">
	<ng-container pageSubtitle>
		<span
			>Personalize your profile by updating your description. Share more about yourself, your passions, and what
			inspires you, allowing others to get to know you better.</span
		>
	</ng-container>

	<ng-container primary>
		<app-settings-description-form [isViewDatas]="isViewDatas"></app-settings-description-form>
	</ng-container>
</app-account-settings-layout>

<app-toast />
