<h1 class="page-title">Password</h1>

<p class="page-subtitle">
	<span>Use this section to manage your passwords, strengthen your account security, and safeguard your data.</span>
</p>

<app-alert-form *ngIf="formError" [content]="formError" severity="error" icon="exclamation-circle"></app-alert-form>

<form #accountPasswordForm="ngForm" [formGroup]="mainForm" (ngSubmit)="onSubmit()">
	<div class="form-control">
		<app-password-field
			labelFor="currentPassword"
			label="Current password :"
			icon="lock"
			id="currentPassword"
			name="currentPassword"
			placeholder="*****"
			[feedback]="false"
			[toggleMask]="true"
			[form]="accountPasswordForm"
			formControlName="currentPassword"
			[parentForm]="mainForm"
			controlName="currentPassword"
			[validationMessage]="getValidationMessages('currentPassword')"
		></app-password-field>
	</div>

	<ng-container [formGroupName]="'passwordForm'">
		<div class="form-control">
			<app-password-field
				labelFor="password"
				label="Password :"
				icon="lock"
				id="password"
				name="password"
				placeholder="*****"
				[feedback]="false"
				[toggleMask]="true"
				[form]="accountPasswordForm"
				formControlName="password"
				[parentForm]="passwordForm"
				controlName="password"
				[validationMessage]="getValidationMessages('password')"
			></app-password-field>
		</div>

		<div class="form-control">
			<app-password-field
				labelFor="confirmPassword"
				label="Confirm password :"
				icon="lock"
				id="confirmPassword"
				name="confirmPassword"
				placeholder="*****"
				[feedback]="false"
				[toggleMask]="true"
				[form]="accountPasswordForm"
				formControlName="confirmPassword"
				[parentForm]="passwordForm"
				controlName="confirmPassword"
				[validationMessage]="getValidationMessages('confirmPassword')"
			></app-password-field>
		</div>
	</ng-container>

	<p-button type="submit" label="Register" icon="pi pi-arrow-up-right" iconPos="right" styleClass="btn-cta" />
</form>
