<app-account-settings-layout pageTitle="Password">
	<ng-container pageSubtitle>
		<span>Use this section to manage your passwords, strengthen your account security, and safeguard your data.</span>
	</ng-container>

	<ng-container primary>
		<app-alert-form *ngIf="formError" [content]="formError" severity="error" icon="exclamation-circle"></app-alert-form>

		<form #accountPasswordForm="ngForm" [formGroup]="mainForm" (ngSubmit)="onSubmit()">
			<div class="form-control">
				<app-password-field
					labelFor="oldPassword"
					label="Current password :"
					icon="lock"
					id="oldPassword"
					name="oldPassword"
					placeholder="Enter current password"
					[feedback]="false"
					[toggleMask]="true"
					[form]="accountPasswordForm"
					formControlName="oldPassword"
					[parentForm]="mainForm"
					controlName="oldPassword"
					[validationMessage]="getValidationMessages('oldPassword')"
				></app-password-field>
			</div>

			<ng-container [formGroupName]="'passwordForm'">
				<div class="form-control">
					<app-password-field
						labelFor="password"
						label="Password :"
						icon="lock"
						id="password"
						name="password"
						placeholder="*****"
						[feedback]="false"
						[toggleMask]="true"
						[form]="accountPasswordForm"
						formControlName="password"
						[parentForm]="passwordForm"
						controlName="password"
						[validationMessage]="getValidationMessages('password')"
					></app-password-field>
				</div>

				<div class="form-control">
					<app-password-field
						labelFor="confirmPassword"
						label="Confirm new password :"
						icon="lock"
						id="confirmPassword"
						name="confirmPassword"
						placeholder="*****"
						[feedback]="false"
						[toggleMask]="true"
						[form]="accountPasswordForm"
						formControlName="confirmPassword"
						[parentForm]="passwordForm"
						controlName="confirmPassword"
						[validationMessage]="getValidationMessages('confirmPassword')"
					></app-password-field>
				</div>
			</ng-container>

			<div class="btn-cta-box">
				<p-button type="submit" label="Save changes" icon="pi pi-arrow-up-right" iconPos="right" styleClass="btn-cta" />
			</div>
		</form>
	</ng-container>
</app-account-settings-layout>

<app-toast />
