<app-account-settings-layout
	pageTitle="Password"
	[showEditCta]="false"
	[showSwitchInput]="true"
	(changeView)="onChangeView()"
>
	<ng-container pageSubtitle>
		<span>Use this section to manage your passwords, strengthen your account security, and safeguard your data.</span>
	</ng-container>

	<ng-container primary>
		<app-settings-password-form
			[isViewDatas]="isViewDatas"
			[isViewDataChecked]="isViewDataChecked"
		></app-settings-password-form>
	</ng-container>
</app-account-settings-layout>

<app-toast />
